:root {
  --color-white: #fff;
  --color-soft-blue: #8bacd9;
  --color-petrol: #00fff8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100dvh; /* dynamic viewport hight (also available as width) */
  background-color: #0d192c;
  align-items: center;
  justify-content: center;
  padding: 0 24px 0 24px;

  font-family: "Outfit", sans-serif;
}

h1 {
  color: var(--color-white);
  font-size: 1.375rem;
  margin: 1.5rem 0 0.75rem 0;
}

h1:hover {
  cursor: pointer;
  color: var(--color-petrol);
}

.card {
  background-color: #15263f;
  /* width: 327px;
    height: 543px; */
  border-radius: 15px;
  padding: 24px 24px 0 24px;
}

.heroframe {
  position: relative;
}

.hero {
  width: 100%;
  border-radius: 8px;
}

.eye {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* .hero-effect {
  opacity: 0.503;
  color: var(--color-petrol);
} */

.card-description {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.625rem;
  color: var(--color-soft-blue);
  margin-bottom: 1rem;
}

.trade {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 0.0625rem #2e405a;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.balance,
.countdown {
  display: flex;
  align-items: center;
}

.balance span {
  color: #00fff8;
  font-size: 0.9375rem;
  font-weight: 600;
  margin-left: 0.4375rem;
}

.countdown span {
  color: #8bacd9;
  font-size: 0.9375rem;
  font-weight: 400;
  margin-left: 0.4375rem;
}

.creator {
  display: flex;
  justify-items: left;
  align-items: center;
  margin-bottom: 1.5rem;
}

.creator img {
  width: 2.0625rem;
  height: 2.0625rem;
}

.created {
  color: #8bacd9;
  margin-left: 1rem;
}

.creatorName {
  color: #ffffff;
}

.creatorName:hover {
  cursor: pointer;
  color: var(--color-petrol);
}
